**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions

**/.pnp.*

**/.idea
**/.env

**/node_modules

**/README.md

**/.editorconfig

# Frontend
frontend-studies-fe/coverage

frontend-studies-fe/build

frontend-studies-fe/.DS_Store
frontend-studies-fe/.env.local
frontend-studies-fe/.env.development.local
frontend-studies-fe/.env.test.local
frontend-studies-fe/.env.production.local

frontend-studies-fe/npm-debug.log*
frontend-studies-fe/yarn-debug.log*
frontend-studies-fe/yarn-error.log*

frontend-studies-fe/src/scripts

# Backend
frontend-studies-be/media
frontend-studies-be/tmp-files

frontend-studies-be/**/*.dev.*

frontend-studies-be/repo-templates/layout/tech/sample.*
frontend-studies-be/repo-templates/layout/src/*
!frontend-studies-be/repo-templates/layout/src/index.html

frontend-studies-be/repo-templates/react/app-frontend
frontend-studies-be/repo-templates/react/app-backend/*
!frontend-studies-be/repo-templates/react/app-backend/.github